/* ===== MENU OVERLAY ===== */

.menu {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.menu.active {
  transform: translateX(0);
}

/* === TOP BAR === */
.menu__top {
  background-color: var(--color-frame-dark); 
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* LANG SWITCH */
.menu__lang {
  display: flex;
  gap: 20px;
}

.menu__lang-btn {
  background: none;
  border: none;
  color: var(--color-text-muted);
  font-family: var(--ff-text);
  font-size: var(--fs-base);
  cursor: pointer;
}

.menu__lang-btn.is-active {
  color: var(--color-text-main);
  font-weight: var(--fw-semibold);
}

/* CLOSE */
.menu__close {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu__close img {
  width: 15px;
  height: 15px;
}

/* === SPACING === */
.menu__spacer {
  height: 34px;
}

/* === NAV === */
.menu__nav {
  display: flex;
  flex-direction: column;
  background: black;
}

.menu__item {
  height: 38px;
  padding-left: 14px;

  display: flex;
  align-items: center;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  color: var(--color-text-muted);
  text-decoration: none;

  background: var(--gradient-menu);


  margin-bottom: 1px;
}

.menu__item:last-child {
  margin-bottom: 0;
}


.menu__divider {
  height: 1px;
  background: transparent;
}

.menu__item:active {
  filter: brightness(0.75);
}

.menu {
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.22, 1.3, 0.36, 1);
}
