/* ======= Articles page ======= */

.articles-page {
  display: flex;
  flex-direction: column;
}

/* Title page */
.articles-page__title {
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 25px;

  width: 220px;
  height: 26px;

  font-family: var(--ff-text);
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
  line-height: 1.29168;

  color: var(--color-text-main);
}

/* ======= Article card ======= */

.article-card {
  display: flex;
  flex-direction: column;
}


/* Img */
.article-card__image {
  width: 100%;
  max-width: 393px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.article-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Title article */
.article-card__title {
  margin-top: 9px;
  margin-left: 20px;

  width: 350px;
  max-width: calc(100% - 40px);

  font-family: var(--ff-text);
  font-size: 1.0625rem; /* 17px */
  font-weight: var(--fw-semibold);
  line-height: 1.29168;

  color: var(--color-text-main);
  text-align: left;
}

/* Date */
.article-card__date {
  margin-top: 11px;
  margin-left: 20px;

  width: 195px;
  height: 15px;

  font-family: var(--ff-text);
  font-size: 0.6875rem; /* 11px */
  font-weight: var(--fw-regular);
  line-height: 1.29168;

  color: var(--color-text-main);
}

/* Batton */
.article-card__button-wrapper {
  width: 100%;
  max-width: 393px;

  display: flex;
  justify-content: flex-end;

  margin-top: -10px;
  padding-right: 16px;
  margin-bottom: 17px;
}

.article-card__button {
  width: 95px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  border: 1px solid #CCC;
  background: var(--color-accent-secondary);

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;

  color: var(--color-text-main);
  text-decoration: none;
}


.article-card__image--narrow {
  width: 168px;
  height: 239px;

  aspect-ratio: unset;
  overflow: visible;
  margin: 0 auto;

  border-radius: var(--radius-md);
}

