/* ======= Article ======= */

.article {
  display: flex;
  flex-direction: column;
}

/* ===== Title ===== */

.article__title {
  margin-top: 20px;
  margin-left: 22px;
  width: 352px;

  font-family: var(--ff-text);
  font-size: 22px;
  font-weight: var(--fw-semibold);
  line-height: 1.29168;
  color: var(--color-text-main);
}

/* ===== Meta ===== */

.article__meta {
  margin-top: 8px;
  margin-left: 22px;

  font-family: var(--ff-text);
  font-size: 11px;
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: var(--color-text-main);
}

.article__meta--small {
  margin-top: 4px;
}

/* ===== Image ===== */

.article-card__image {
  margin-top: 16px;
}

.article-card__image img {
  display: block;
  width: 100%;
}

/* ===== Intro card ===== */

.article__intro-card {
  margin: 24px auto 0;
  width: 335px;
  

  background: var(--color-bg-dark);
  border-radius: 10px;

  padding: 18px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.article__intro-text {
  width: 288px;
  margin: 0;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: var(--color-text-main);
}

/* ===== Content ===== */

.article__content {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: var(--color-text-main);
}


.article__content p {
  margin: 0;
}


.article__content p + p {
  margin-top: 16px;
}


.article__subtitle {
  margin-top: 24px;
  font-weight: var(--fw-semibold);
}

/* ===== Quote ===== */

.article__quote-card {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 311px;


  background: var(--color-bg-dark);
  border-radius: 10px;

  padding: 18px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.article__quote-text {
  width: 265px;
  margin: 0;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: var(--color-text-main);
}

.article__quote-highlight {
  font-style: italic;
  font-weight: var(--fw-semibold);
}

/* ===== End section ===== */

.article__content--end {
  margin-top: 35px;
}

/* ===== Button ===== */

.article__button-wrapper {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}

.article__button {
  width: 163px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-accent-secondary);
  border: 1px solid #CCC;
  border-radius: 8px;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: #CBCBCB;

  text-decoration: none;
}



/* ======= Article 2 ======= */

/* ===== Mechanism block ===== */

.article__mechanism {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 350px;
}

/* Small top plate */
.article__mechanism-cap {
  background: #0E0D06;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;

  display: flex;
  justify-content: center;
}

/* Text label */
.article__mechanism-label {
  margin: 0;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-semibold);
  line-height: 1.29168;
  color: var(--color-text-main);
  text-align: center;

}

/* Main plate */
.article__mechanism-header {
  background: var(--color-bg-secondary);
  border-radius: 0 0 10px 10px;
  
}

/* Text 2 */
.article__mechanism-text {
  margin: 11px 0 0;
  padding: 14px;
  width: 323px;

  font-family: var(--ff-text);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.29168;
  color: #DDD;
  text-align: left;
}
